absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
antlr4-python3-runtime
anyio
anykeystore
appdirs
async-timeout
asynctest
attrs
backcall 
backports.functools-lru-cache 
beautifulsoup4
brotlipy
cachetools
certifi
cffi 
charset-normalizer
click
colorlog
conda-pack
cryptacular
cryptography 
cycler
datasets
decorator 
defusedxml
dill
distlib
docker-pycreds
entrypoints 
fast-bleu
fastapi
ffmpy
filelock
flit_core 
fonttools
frozenlist
fschat
fsspec
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
gradio
greenlet
grpcio
h11
httpcore
httpx
huggingface-hub
hupper
hydra-colorlog
hydra-core
idna
importlib-metadata
importlib-resources
ipykernel 
ipython 
ipython-genutils
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
kiwisolver
linkify-it-py
Markdown
markdown-it-py
markdown2
MarkupSafe
matplotlib
matplotlib-inline 
mdit-py-plugins
mdurl
mkl-fft
mkl-random 
mkl-service
msgpack
multidict
multiprocess
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
oauthlib
omegaconf
openai
orjson
overrides
packaging
pandas
parso 
PasteDeploy
pathtools
pbkdf2
pexpect 
pickleshare 
Pillow
pkgutil_resolve_name
plaster
plaster-pastedeploy
platformdirs
prompt-toolkit 
protobuf
psutil
ptyprocess 
pyarrow
pyasn1
pyasn1-modules
pycparser 
pydantic
pydub
Pygments
pyOpenSSL 
pyparsing
pyramid
pyramid-mailer
pyrsistent
PySocks 
python-dateutil
python-multipart
python3-openid
pytz
PyYAML
pyzmq
ray
regex
repoze.sendmail
requests
requests-oauthlib
responses
rsa
scikit-learn
scipy
seaborn
semantic-version
sentencepiece
sentry-sdk
setproctitle
six 
smmap
sniffio
soupsieve
SQLAlchemy
starlette
svgwrite
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tokenizers
toolz
torch
torchaudio
torchvision
tornado 
tqdm
traitlets 
transaction
transformers
translationstring
typing_extensions
uc-micro-py
urllib3
uvicorn
velruse
venusian
virtualenv
wandb
wavedrom
wcwidth 
WebOb
websockets
Werkzeug
WTForms
wtforms-recaptcha
xxhash
yarl
zipp
zope.deprecation
zope.interface
zope.sqlalchemy
